/**
 * Section
 */

$navbar-color-bg: #046240;
#header {
  background-color: $navbar-color-bg;

  #logo {
    .navbar__brand {
      display: block;

      img.logo {
        max-width: 220px;
      }
    }
  }

  #top_header {
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;

    .social-link {
      margin-bottom: 0;

      a {
        color: white;
      }
    }
  }

  #top_nav {
    border-top: 1px solid #2e7331;
  }
}

.products_slider {
  .item {
    border: 1px solid #eee;
    border-right: 0;
    margin: 0;
  }
}

.section {

}
