/**
 * Section
 */

.section {
  .top-header {
    display: flex;
    align-items: flex-start;

    .social-link {
      margin-bottom: 0;

      a {
        color: white;
      }
    }
  }

  .content-header {
    img.logo {
      max-width: 120px;
    }
  }
}
