{% extends '../layouts/default.twig' %}
{% set head_title = 'Home Page' %}
{% set body_class = '' %}
{% set menu_active = 'home-page' %}

{% block page %}
    <header class="section">
        {% include '../components/header/top-header.twig' %}
        {% include '../components/header/content-header.twig' %}
        {% include '../../modules/navbar/navbar.twig' %}
    </header>
    <main class="main">
        <section class="section home-first">
            {% include '../components/home/banner.twig' %}
        </section>
    </main>


    {% include '../components/footer.twig' %}

{% endblock %}
