<div class="slide-show is-hidden" data-js="slick">
    <div><img src="/assets/img/banner/slider2-11.jpg" alt="Banner 1"></div>
    <div><img src="/assets/img/banner/slider11.jpg" alt="Banner 2"></div>
    <div><img src="/assets/img/banner/slider31.jpg" alt="Banner 3"></div>
</div>