<div class="block-slider is-hidden" data-js="slick">
<<<<<<< HEAD
    <div><img src="/assets/img/banner/gants_uhlsport.jpg" alt="Banner 1"></div>
    <div><img src="/assets/img/banner/psg_nouveaux_maillots.jpg" alt="Banner 2"></div>
    <div><img src="/assets/img/banner/remise_futsal.jpg" alt="Banner 3"></div>
=======
    <div class="item-block"><img src="/assets/img/banner/gants_uhlsport.jpg" alt="Banner 1"></div>
    <div class="item-block"><img src="/assets/img/banner/psg_nouveaux_maillots.jpg" alt="Banner 2"></div>
    <div class="item-block"><img src="/assets/img/banner/slider_9.jpg" alt="Banner 3"></div>
>>>>>>> 75dc0f2d9d91fbaa8ecd6d0cd63b8423822e4c66
</div>