<div class="block-slider is-hidden" data-js="slick">
    <div><img src="/assets/img/banner/gants_uhlsport.jpg" alt="Banner 1"></div>
    <div><img src="/assets/img/banner/psg_nouveaux_maillots.jpg" alt="Banner 2"></div>
    <div><img src="/assets/img/banner/remise_futsal.jpg" alt="Banner 3"></div>
</div>