<div class="container">
    <div class="content-header">
        <a class="navbar__brand" href="index.html">
            <img class="logo" src="/assets/img/logo-demo.png" alt="Sâu's FootStore">
        </a>
    </div>
</div>