<div id="top_header" class="d-flex justify-content-end pr-2">
    <div class="mr-1">Kết nối với chúng tôi:</div>
    <ul class="list-inline social-link">
        <li class="list-inline__item"><a href="#" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline__item"><a href="#" target="_blank">
                <i class="fa  fa-youtube-square" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>